body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
}

header {
    background: black;
    padding: 20px;
    color: gold;
}

.container {
    padding: 20px;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

button {
    padding: 12px 25px;
    background: gold;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
